*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: rgb(147, 211, 234);
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolour-checked-background_1048-18710.jpg?t=st=1741383327~exp=1741386927~hmac=5cfe5de2fc072a7643505047867d7f8b76f0b33960eb91ac49afc081ef8391a1&w=900);
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
}
 
.parent{
    background-color: rgb(254, 248, 77);
    display: flex;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-radius: 5px;

}
    .logo{
        width: 80px;
        height: 60px;
        margin: 5px 20px;
        border-radius: 50%;}
    .header{
        display: flex;
        list-style-type: none;
        background-color: rgb(254, 248, 77);
        color:rgb(56, 56, 53);
        font-weight:bold;
        width: fit-content;
        padding: 20px;

    }
        .header li{
            margin: 0px 20px;
            font-size: large;
        }
#text-box{
    line-height: 50px;
    width:1000px;
    margin-top: 30px;
    font-size: larger;
    background-color: rgb(250, 249, 209);
    border-radius:20px;
    margin-left:200px;
    border: 5px dotted rgba(102, 101, 101, 0.715);

}

.highlight{
    color: rgb(207, 21, 21);
    font-weight: bold;
}

input{
    text-align: left;
    font-size:medium;
    width: 500px;
    line-height: 60px;
    padding: 5px;
    border: 3px solid ;
    border-radius: 50px;
    box-shadow: 5px 5px black;
}

#wpm-counter{
    background-color: rgb(43, 43, 44);
    font-size: 30px;
    margin-top: 50px;
    border-radius: 40px;
    width: 300px;
    color: aliceblue;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1100px;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.3s ease-in-out;
}
